<p style="font-size: 12px; font-family: Helvetica; width: 220px; height: 10px;"><img style="vertical-align: center; width: 13px; height: 11px; position: relative; top: 1px;" src="/images/mail.png"> My inbox has <%= unreadCount %> unread message<%= unreadCount == 1 ? '' : "s" %></p>
