<p style="font-size: 12px; font-family: Helvetica; width: 220px; height: 10px;"><img style="vertical-align: top; width: 13px; height: 14px;" src="/images/mail.png"> My inbox has <%= unreadCount %> unread messages</p>
