<html>
<head>
  <meta name="google-site-verification" content="ap9qXdkAuzyYetSqhupL2cBQFOFSVUBCgQlgHy0izBA" />
  <title>InboxSig : Unread message count in your email signature</title>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/zeroclipboard.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.clipboard.js"></script>
</head>
<body>

<%- body %>

</body>
</html>
